<% provide(:title, 'Home') %>
<h1>History Tickle</h1>
<p>Don't know whether the U.S. Civil War preceded the Spanish-American War? Well, this will help you get the order of some major moments of history straight. </p>
